body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
  background-color: bisque;
  color: grey;
}
#foto {
  border-radius: 200px;
  text-align: center;
}
#topo {
  background-color: orange;
  color: antiquewhite;
  
}
.Atividade {
  color: darkblue;
  background-color: antiquewhite;
  width: 1500px;
}
.inicio {
  text-align: center;
}
